# R files
.Rproj.user
.Rhistory
*.Rapp.history
.RData
.Ruserdata
*.Rproj
# Mac files
*.DS_store
# GitHub files
LICENSE
README.md
# Directories
2_algorithm-development
archive/
data/
data_code/
dev_code
eval_code/
Figs/
experimental_code/
output/
writeup/
Paper/
Supplement/
Extended/
thesis*
article-type_icite-vs-pmc.csv
